<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Enter your OTP</h1>
    <form action="/api/v1/user/login/verify/<%= id %>" method="POST">
        <input type="number" name="otp">
        <input type="submit" value="Verify">
    </form>
</body>
</html>